*{
    margin: 0;
    padding: 0;

}
body{
    background-image: url(./html.jpg);
    height: 100vh;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
}
